<p id="notice"><%= notice %></p>

<h1>Molucules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @molucules.each do |molucule| %>
      <tr>
        <td><%= molucule.name %></td>
        <td><%= link_to 'Show', molucule %></td>
        <td><%= link_to 'Edit', edit_molucule_path(molucule) %></td>
        <td><%= link_to 'Destroy', molucule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Molucule', new_molucule_path %>
