<%= form_with(model: atom, local: true) do |form| %>
  <% if atom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atom.errors.count, "error") %> prohibited this atom from being saved:</h2>

      <ul>
      <% atom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :atom_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
